body{
             background-color:#94abdb;
         }
         nav{
             margin-bottom: 30px;
         }
         
         #header-nav {
            background-color: rgb(254, 255, 205);
            border-radius: 0;
            border: 0;
        }       
        .navbar-brand a:hover, .navbar-brand a:focus {
            text-decoration: none;
        }
        a{
            font-weight: bold;
        }
        .comp-name{
            color:grey
        }
        .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
            border: 1px solid #11990f;
        }
        #nav-list {
            margin-top: 10px;
        }
        #nav-list a {
            color: #11990f;
            text-align: center;
        }
        #nav-list a:hover {
            background: #E7E7E7;
        }
        #nav-list a span {
            font-size: 1.8em;
        }
        h1{
            font-weight: bold;
            color: rgb(131, 7, 248);
            margin-bottom: 20px;
        }
        
        .tiles{
            height: 1000px;
            border :1px solid black;
            font-family: 'Lora', serif;
            background-color: grey;   
            margin-bottom:30px;
            overflow: hidden;
        }
        .description{
            font-style: italic;
            margin-top: 20px;
            font-size: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
        h2{
            font-weight: bold;
            font-size: 2.5em;
            margin-top: 0;
        }
        